.outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 800px;
  width: 800px;
  background-color: coral;
  column-gap: 20px;
}
.outer div {
  font-size: 24px;
  width: 150px;

  text-align: center;
  background-color: aquamarine;
  border-radius: 5px;
}
