:root {
  --blue-color: #2196f3;
  --black-color: #000000;
  --dark-grey: #212121;
  --grey: #757575;
  --wite: #ffffff;
  --iight-grey: #f5f4fa;
  --almost-wihte: #e5e5e5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  color: var(--dark-grey);
  font-size: 14px;
}
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.conteiner {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header .conteiner,
.header-nav,
.header-nav-list,
.header-contacts,
.filter,
.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header slyle */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

/*  start stilng logo  */
.header-logo,
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
}
.logo-web {
  color: var(--blue-color);
}
.logo-studio {
  color: var(--black-color);
}
/* end stiling logo */

.header-nav-list {
  column-gap: 50px;
  margin-left: 93px;
}
.header-nav-list a {
  font-weight: 500;
  color: var(--dark-grey);
}
.header-nav-list a:hover,
.header-nav-list a:active,
.header-contacts a:hover,
.header-contacts a:active {
  color: var(--blue-color);
}
.header-contacts {
  column-gap: 50px;
}
.header-contacts a {
  color: var(--grey);
  font-weight: 500;
}

main {
  border-top: 1px solid #ececec;
  padding-top: 100px;
  padding-bottom: 94px;
}

.filter {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  column-gap: 8px;
  margin-bottom: 50px;
}

.filter li {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #212121;
}
.filter li:nth-child(1) {
  color: #ffffff;
  background-color: #2196f3;
}
.filter li:hover, .filter li:active{
  background-color: var(--blue-color);
  color: var(--wite);
}

.conteiner-{
   width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  font-size: 0px;
}
.projects {
  justify-content: left;
  flex-wrap: wrap;
  margin: -15px;
  
  ;
}
.projects li {
  width: 370px;
  border: 1px solid #eeeeee;
  margin: 15px;
}

.projects li h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.projects li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  margin-left: 24px;
  margin-bottom: 20px;
}

/* СЕКЦИЯ ПОДВАЛА */

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-logo .logo-web {
  color: var(--blue-color);
}
.footer-logo .logo-studio {
  color: var(--wite);
}
address {
  margin-top: 20px;
  font-style: normal;
}
.address a {
  color: var(--wite);
}

.tel,
.email {
  margin-top: 10px;
}
.tel a,
.email a {
  color: rgba(255, 255, 255, 0.6);
}
