:root {
  --blue-color: #2196f3;
  --black-color: #000000;
  --dark-grey: #212121;
  --grey: #757575;
  --color-wite: #ffffff;
  --iight-grey-color: #f5f4fa;
}
body {
  width: 1600px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Font section */

/* font Rboto weight 900 size 44px */
.hero h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
}
/* font Rboto weight 700 size 36px */
.service h2,
.team h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}

/* font Rboto weight 700 size 16px */
.hero button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
/* font Rboto weight 500 size 16px */
.team h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
/* font Rboto weight 400 size 16px */
.team p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

/* font Rboto weight 700 size 14px */
.feature h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

/* font Rboto weight 500 size 14px */
.nav-links li,
.contacts a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
/* font Rboto weight 400 size 14px */
.feature ul li p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

/* Flex - contener */
.page-haeder,
.page-haeder .nav,
.page-haeder .nav-links,
.hero,
.feature ul,
.feature .svg-pic,
.service ul,
.team ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Header slyle */

.page-haeder {
  width: 1170px;
  height: 80px;
  margin-left: 215px;
}

/*  start stilng logo  */
h1,
footer a[href="/index.html"] {
  flex-shrink: 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}
.logo-beginning {
  color: var(--blue-color);
}
.logo-end {
  color: var(--black-color);
}
/* end stiling logo */

.nav-links {
  column-gap: 50px;
  margin-left: 50px;
}

.nav-links:nth-child(1) {
  color: var(--blue-color);
}
.nav-links:nth-child(2),
.nav-links:nth-child(3) {
  color: var(--dark-grey);
}

.nav-links li:hover,
.nav-links li:active {
  background-color: var(--blue-color);
}
.nav-contacts {
  margin-left: 321px;
}

.nav-contacts a[href="mailto:info@devstudio.com"] {
  color: var(--blue-color);
}
.nav-contacts a[href="tel:+380961111111"] {
  color: var(--dark-grey);
  margin-left: 50px;
}
a[href="mailto:info@devstudio.com"]:hover,
a[href="mailto:info@devstudio.com"]:active {
  background-color: var(--dark-grey);
}
a[href="tel:+380961111111"]:hover,
a[href="tel:+380961111111"]:active {
  background-color: var(--blue-color);
}

section.hero {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1600px;
  height: 600px;
  background-image: url("../images/bg.png");
}

.hero h2 {
  width: 696px;
  height: 120px;
  text-transform: uppercase;
  color: var(--color-wite);
  text-align: center;
  letter-spacing: 0.06em;
}
.hero button {
  color: var(--color-wite);
  background-color: var(--blue-color);
  height: 50px;
  width: 200px;
  border-color: var(--blue-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  text-align: center;
}
/* СЕКЦИЯ ОСОБЕННОСТИ */
section.feature {
  width: 1170px;
  height: 251px;
  margin-left: 215px;
}

.feature h2 {
  display: none;
}

.feature ul {
  column-gap: 30px;
}

.feature .svg-pic {
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--iight-grey-color);
  border-radius: 4px;
}

.feature li h3 {
  text-transform: uppercase;
  color: var(--dark-grey);
}

.feature li p {
  color: var(--grey);
}

/* СЕКЦИЯ УСЛУГИ  */

.service h2 {
  color: var(--dark-grey);
  text-align: center;
  margin-bottom: 50px;
}
.service ul {
  width: 1170px;
  height: 251px;
  margin-left: 215px;
  column-gap: 30px;
}

/* СЕКЦИЯ НАША КОМАНДА */

.team {
  background-color: #f5f4fa;
  height: 648px;
  padding-top: 94px;
}

.team ul {
  width: 1170px;
  margin-left: 215px;
  column-gap: 30px;
}

.team h2 {
  color: var(--dark-grey);
  text-align: center;
  margin-bottom: 50px;
}

.team h3 {
  color: var(--dark-grey);
  text-align: center;
}
.team p {
  color: var(--grey);
  text-align: center;
}
/* СЕКЦИЯ ПОДВАЛА */
footer {
  background-color: #2f303a;
  height: 192px;
  padding-top: 60px;
}

footer .logo {
  margin-left: 215px;
}
.logo-end-footer {
  color: var(--color-wite);
  width: 231px;
}
.address {
  margin-left: 215px;
  color: var(--color-wite);
  margin-top: 20px;
  font-style: normal;
}
.tel a,
.email a {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.tel,
.email {
  margin-top: 10px;
  margin-left: 215px;
}
