:root {
  --blue-color: #2196f3;
  --black-color: #000000;
  --dark-grey: #212121;
  --grey: #757575;
  --wite: #ffffff;
  --iight-grey: #f5f4fa;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  color: var(--dark-grey);
  font-size: 14px;
}
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.conteiner {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Flex - contener */
.header .conteiner,
.header-nav,
.header-nav-list,
.header-contacts,
.feature-list,
.service ul,
.team ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header slyle */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

/*  start stilng logo  */
.header-logo,
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
}
.logo-web {
  color: var(--blue-color);
}
.logo-studio {
  color: var(--black-color);
}
/* end stiling logo */

.header-nav-list {
  column-gap: 50px;
  margin-left: 93px;
}
.header-nav-list a {
  font-weight: 500;
  color: var(--dark-grey);
}
.header-nav-list a:hover,
.header-nav-list a:active,
.header-contacts a:hover,
.header-contacts a:active {
  color: var(--blue-color);
}
.header-contacts {
  column-gap: 50px;
}
.header-contacts a {
  color: var(--grey);
  font-weight: 500;
}

/* Style of section HERO */

section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/bg.png");
  background-position: 50% 50%;
  background-size: auto auto;
  background-repeat: no-repeat;
}

.hero h2 {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.36;
  color: var(--wite);
  text-align: center;
  letter-spacing: 0.06em;
}
.hero button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 200px;

  color: var(--wite);
  font-weight: 700;
  font-size: 16px;
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  text-align: center;
}
/* СЕКЦИЯ ОСОБЕННОСТИ */
section.feature {
  margin-top: 94px;
}

.feature h2 {
  font-size: 0;
}

.feature-list {
  column-gap: 30px;
}

.feature-list .svg-pic {
  padding-top: 25px;
  min-height: 120px;
  min-width: 270px;
  background-color: var(--iight-grey);
  border-radius: 4px;
}

.svg-pic object {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.feature-list li h3 {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--dark-grey);
  margin-top: 30px;
  margin-bottom: 10px;
}

.feature-list li p {
  color: var(--grey);
  line-height: 1.7;
}

/* СЕКЦИЯ УСЛУГИ  */

.service {
  margin-top: 94px;
}

.service h2,
.team h2 {
  font-weight: 700;
  font-size: 36px;
  color: var(--dark-grey);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.service ul {
  column-gap: 30px;
}

/* СЕКЦИЯ НАША КОМАНДА */

.team {
  background-color: #f5f4fa;
  margin-top: 94px;

  padding-top: 94px;
  padding-bottom: 94px;
}

.team ul {
  column-gap: 30px;
}
.team li {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team h3 {
  color: var(--dark-grey);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team p {
  color: var(--grey);
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}
/* СЕКЦИЯ ПОДВАЛА */
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo .logo-web {
  color: var(--blue-color);
}
.footer-logo .logo-studio {
  color: var(--wite);
}
address {
  margin-top: 20px;
  font-style: normal;
}
.address a {
  color: var(--wite);
}

.tel,
.email {
  margin-top: 10px;
}
.tel a,
.email a {
  color: rgba(255, 255, 255, 0.6);
}
